@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: Raleway;
    color: #ffffff;
    background-color: #000000;
}

header {
    text-align: center;
    font-weight: 300;
}

    

.image1 img {
    float: right;
    width: 1280px;
    height: 727px;
}

.image1 {
    height: 727px;
}

.desc-section {
    display: flex;
    align-items: center;
}

.desc-section img {
    width: 600px;
    height: 400px;
    margin: 100px;
    border-radius: 15px;
}

.images >* {
    display: inline;
    width: 57px;
    height: 37px;
    filter: invert(100%) sepia(8%) saturate(399%) hue-rotate(182deg) brightness(118%) contrast(100%);


}


